<h1>Listing leafs</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @leafs.each do |leaf| %>
  <tr>
    <td><%= leaf.title %></td>
    <td><%= leaf.body %></td>
    <td><%= link_to 'Show', leaf %></td>
    <td><%= link_to 'Edit', edit_leaf_path(leaf) %></td>
    <td><%= link_to 'Destroy', leaf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Leaf', new_leaf_path %>
