<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @leaf.title %>
</p>

<p>
  <b>Body:</b>
  <%= @leaf.body %>
</p>


<%= link_to 'Edit', edit_leaf_path(@leaf) %> |
<%= link_to 'Back', leafs_path %>
